<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <title>사이드 프로젝트1</title>
</head>

<body>
    <div class="container-fluid">
        <p>게시글 목록</p>
        <table class="table table-hover">
            <tr>
                <th>제목</th>
                <th>작성 날짜</th>
                <th>조회수</th>
            </tr>
            <tr th:each="board : ${boards}">
                <td>
                    <a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.title}"></a>
                </td>
                <td th:text="${board.createdDate}"></td>
                <td th:text="${board.cnt}"></td>
            </tr>
        </table>

        <p>댓글 목록</p>
        <table class="table table-hover">
            <tr>
                <th>내용</th>
                <th>작성 날짜</th>
            </tr>
            <tr th:each="reply : ${replies}">
                <td>
                    <a th:href="@{/board/{boardId}(boardId=${reply.board.id})}" th:text="${reply.content}"></a>
                </td>
                <td th:text="${reply.createdDate}"></td>
            </tr>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/js/board.js"></script>
    <script src="/js/user.js"></script>
</body>

</html>